// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$bg: #011627;
$pink: #F26DF9;
$purple: #EB4B98;
$lwhite: #FAE8EB;
$mgreen: #21FA90;
