// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
body{
  background: $bg;
  font-family: $font2;
  font-weight: 500;
}
.input-con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 93.5vh;
  width: 100%;
  align-items: center;
  color: $lwhite;
}
.btn-sticky{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.form-inputs{
  max-width: 90%;
  width: 400px;
  background: $pink;
  padding: 24px;
  box-shadow: 0px 0px 10px 0px $pink;
  border-radius: 10px;
}
